{% from "showlinks.html" import show_links %}


<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'home.css') }}"/>
  </head>
  <body>



    <div class="parent">
        <div class="header mb-2">
            {{ show_links(user)}}

        </div>


         <div class="questions_answered container text-light p-3">
         <h1>Quiz</h1>
         <hr class="text-light"/>
         </div>

       <form action="/quiz" method="POST">
            <div class="question1 p-3 container text-light">
                <h2>Question 1</h2>
                <h3>Will your project have a front-end, back-end, or both?</h3>
                <h10>*Front-end in this case means a graphical user interface.</h10>
                <h3></h3>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="typeStack" id="frontend" value="frontend">
                    <label class="form-check-label" for="frontend">
                    Only a front-end
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="typeStack" id="backend" value="backend">
                    <label class="form-check-label" for="backend">
                    Only a back-end
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="typeStack" id="both" value="both">
                    <label class="form-check-label" for="both">
                    Both a front-end and back-end (Full-stack)
                    </label>
                </div>
            </div>
           <div class="question2 p-3 container text-light">
                <h2>Question 2</h2>
                <h3>Will you be using a database?</h3>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="dbq" id="hosteddb" value="hosteddb">
                    <label class="form-check-label" for="hosteddb">
                    Hosted Database (MySQL, Oracle, MariaDB, PostgreSQL, etc.)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="dbq" id="localdb" value="localdb">
                    <label class="form-check-label" for="localdb">
                    Local Database
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="dbq" id="nodb" value="nodb">
                    <label class="form-check-label" for="nodb">
                    Project won't use a database
                    </label>
                </div>
            </div>

            <div class="question3 p-3 container text-light">
                <h2>Question 3</h2>
                <h3>What language are you most comfortable with?</h3>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="language" id="java" value="java">
                    <label class="form-check-label" for="java">
                        Java
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="language" id="javascript" value="javascript">
                    <label class="form-check-label" for="javascript">
                    Javascript
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="language" id="python" value="python">
                    <label class="form-check-label" for="python">
                    Python
                    </label>
                </div>
            </div>

            <div class="question4 p-3 container text-light">
                <h2>Question 4</h2>
                <h3>What platform will your project run on?</h3>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="op" id="android" value="android">
                    <label class="form-check-label" for="android">
                    Android
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="op" id="ios" value="ios">
                    <label class="form-check-label" for="ios">
                    iOS
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="op" id="website" value="website">
                    <label class="form-check-label" for="website">
                    Website
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="op" id="osconsole" value="osconsole">
                    <label class="form-check-label" for="osconsole">
                    Terminal/Console
                    </label>
                </div>
            </div>
           <button type="submit" class="btn btn-small btn-success">Submit</button>
       <form/>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  </body>
</html>